@font-face {
  font-family: "Futura PT";
  src: url("./fonts/FuturaPT-Light.ttf") format("ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("./fonts/FuturaPT-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("./fonts/FuturaPT-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Futura PT", "Inter", sans-serif;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  color: #000;
  text-transform: none;
  background-color: #fff;
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px;
  padding-bottom: 40px;
}

.name {
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
}

.name__wrapper {
  display: flex;
  justify-content: space-between;
}

.back {
  display: none;
}

.name__title {
  font-weight: bold;
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 2px;
}

.name__arrow {
  padding-right: 9.5px;
  width: 17px;
  height: 11px;
  cursor: pointer;
}

.name__price {
  display: block;
  font-family: "Futura PT";
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: start;
  margin-bottom: 9px;
}

.size-chart {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 29px;
}

.size-chart__dimensions {
  display: flex;
  list-style: none;
  padding: 0;
  width: 102px;
  justify-content: space-between;
  margin: 0;
}

.size-chart__size {
  font-family: "Futura PT";
  background-color: #eee;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-top: 8px;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

.size-chart__size--not-available {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  position: relative;
  z-index: 1;
}

.size-chart__size--not-available::before {
  content: "";
  display: block;
  width: 29px;
  background-color: #e5e5e5;
  position: absolute;
  height: 0.6px;
  transform: rotate(70deg);
  top: 15px;
  right: 1px;
  z-index: -1;
}

.size-chart__prompt {
  font-family: "Futura PT";
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}

.buttons {
  margin-bottom: 32px;
}

.buttons__list {
  width: 280px;
  height: 40px;
  background-color: #eee;
  border: none;
  text-transform: uppercase;
  font-family: "Futura PT";
  font-weight: normal;
  margin-bottom: 6px;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  line-height: 21px;
  padding-left: 15px;
  margin-top: 0;
  text-align: start;
  padding-top: 10px;
}

.buttons__list::after {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 7px;
  background-image: url(./img/black-arrow.svg);
  background-repeat: no-repeat;
  top: 15px;
  right: 15px;
}

.buttons__list-container {
  display: none;
  position: absolute;
  padding-left: 0;
  z-index: 1;
  top: 24px;
  left: 0;
}

.buttons__item {
  display: block;
  width: 280px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #000;
  padding-left: 15px;
  padding-top: 10px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.buttons__item:not(:first-child) {
  border-top: none;
}

.buttons__item:first-child::after {
  content: "";
  position: absolute;
  display: block;
  width: 13px;
  height: 7px;
  background-image: url(./img/black-arrow.svg);
  transform: rotate(180deg);
  background-repeat: no-repeat;
  right: 17px;
  top: 15px;
}

.buttons__basket {
  font-family: "Futura PT";
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: start;
  padding-left: 15px;
  width: 280px;
  height: 40px;
  background-color: #000;
  color: #fff;
  position: relative;
  cursor: pointer;
  border: none;
}

.buttons__basket::after {
  content: "";
  display: block;
  background-image: url(./img/heart.svg);
  width: 15px;
  height: 14px;
  position: absolute;
  right: 14px;
  top: 13px;
}

.buttons__like {
  display: none;
}

.slider__photo {
  width: 280px;
  height: 400px;
  background-color: #f2f2f2;
  padding-top: 41px;
  padding-left: 46px;
  padding-right: 44px;
  position: relative;
  margin-bottom: 28px;
}

.slider__picture {
  width: 191px;
  height: 331px;
}

.slider__photo::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fff;
  bottom: 15px;
  left: 15px;
  border-radius: 50%;
}

.slider__photo::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(./img/triangle.svg);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  bottom: 24px;
  left: 27px;
}

.slider__list {
  display: none;
}

.slider__switches {
  display: flex;
  list-style: none;
  width: 140px;
  justify-content: space-between;
  padding-left: 0;
  margin: 0 auto;
  margin-bottom: 33px;
}

.slider__switch {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #e5e5e5;
  cursor: pointer;
}

.slider__switch--active {
  background-color: #000;
}

.description {
  margin-bottom: 20px;
}

.description__text {
  font-family: "Futura PT";
  font-size: 18px;
  line-height: 23px;
  text-align: start;
}

.badges__list {
  display: flex;
  list-style: none;

  padding-left: 0;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 89px 141px 76px 261px 167px;
    grid-column-gap: 40px;
    width: 768px;
    padding-top: 36px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 57px;
  }

  .back {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    width: 135px;
    justify-content: space-between;
    align-items: baseline;
  }

  .options {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .back__home {
    width: 14px;
    height: 14px;
    cursor: pointer;
  }

  .back__arrow-right {
    opacity: 30%;
    cursor: pointer;
  }

  .back__chapter {
    opacity: 30%;
    text-transform: uppercase;
    font-family: "Futura PT";
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
  }

  .name {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 333px;
    margin-bottom: 22px;
  }

  .name__title {
    font-size: 25px;
    line-height: 30px;
  }

  .name__price {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 0;
  }

  .buttons {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 35px;
  }

  .buttons__list {
    width: 334px;
    height: 50px;
    margin-bottom: 6px;
    padding-top: 15px;
  }

  .buttons__list::after {
    top: 23px;
  }

  .buttons__basket {
    width: 334px;
    height: 50px;
  }

  .size-chart {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 334px;
    padding-right: 1px;
  }

  .buttons__basket::after {
    width: 18px;
    height: 17px;
    background-repeat: no-repeat;
    top: 17px;
  }

  .size-chart__dimensions {
    width: 135px;
  }

  .size-chart__size {
    width: 41px;
    height: 41px;
    font-size: 14px;
    line-height: 18px;
    padding-top: 11px;
  }

  .size-chart__size::before {
    width: 39px;
    height: 1px;
    top: 18px;
  }

  .size-chart__prompt {
    width: 175px;
  }

  .slider {
    grid-column: 1/2;
    grid-row: 2/6;
  }

  .slider__photo {
    width: 314px;
    height: 449px;
    margin-bottom: 15px;
  }

  .slider__photo::before {
    display: none;
  }

  .slider__photo::after {
    display: none;
  }

  .slider__picture {
    width: 213px;
    height: 372px;
  }

  .slider__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    width: 314px;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .slider__item {
    width: 67px;
    height: 67px;
    background-color: #f2f2f2;
  }

  .description {
    grid-column: 2/3;
    grid-row: 4/5;
    margin-bottom: 0;
  }

  .description__text {
    margin-top: 0;
  }

  .description__text:last-child {
    margin-bottom: 0;
  }

  .slider__switches {
    display: none;
  }

  .badges {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .badges__list {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    grid-template-columns: (3, 1fr);
    grid-column-gap: 67px;
    padding-top: 0;
    grid-template-rows: 100px 89px 83px 85px 400px;
  }

  .back {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 53px;
    width: 188px;
  }

  .name {
    grid-column: 4/5;
    grid-row: 2/3;
    width: 100%;
  }

  .badges {
    grid-column: 1/2;
    grid-row: 3/6;
  }

  .badges__list {
    flex-direction: column;
  }

  .badges__picture {
    width: 110px;
    height: 110px;
  }

  .slider {
    grid-column: 2/3;
    grid-row: 1/6;
  }

  .slider__photo {
    width: 396px;
    height: 566px;
  }

  .slider__picture {
    width: 268px;
    height: 469px;
  }

  .slider__list {
    grid-template-columns: repeat(5, 1fr);
  }

  .buttons {
    grid-column: 4/5;
    grid-row: 3/4;
    display: flex;
  }

  .buttons__list {
    width: 233px;
  }

  .buttons__basket {
    width: 219px;
  }

  .buttons__basket::after {
    display: none;
  }

  .buttons__like {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #eeeeee;
    border-radius: 50%;
    padding-top: 15px;
    cursor: pointer;
    margin-left: 25px;
  }

  .size-chart {
    grid-column: 4/5;
    grid-row: 4/5;
    width: 435px;
  }

  .description {
    grid-column: 4/5;
    grid-row: 5/6;
    width: 453px;
  }
} ;
